@model IEnumerable<AllDietViewModel>
@{
    ViewData["Title"] = "All diet in the gym";
    var diets = Model.ToList();
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@* @if (!diets.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best fitness!</h1>
        <p class="lead">
            There are no houses in the system currently available so why don't you just add one?
        </p>
    </div>
} *@
<div class="mb-5"></div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < diets.Count(); i++)
        {
            var diet = diets[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:550px" src="@diet.ImageUrl" alt="@diet.Title">

                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Diet" asp-action="Details" asp-route-id="@diet.Id"> @diet.Title</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>