@model IEnumerable<AllFitnessCardViewModel>
@{
    ViewBag.Title = "All fitness card in the gym";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var p in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
                 src="@p.ImageUrl" alt="Fitness Card Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@p.Name</h5>
                <p class="mb-0">Quantity: @p.Quantity</p>
                <p class="mb-0">Price: @p.Price lv.</p>
                <p class="mb-0">Description: @p.Description</p>

            </div>

            <a asp-controller="FitnessCard" asp-action="Details" asp-route-id="@p.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
           
                <form class="input-group-sm" asp-controller="FitnessCard" asp-action="AddToCart" asp-route-id="@p.Id">
                    <input type="submit" value="Add fitness card to cart" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            
           
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}