@model ICollection<AllProductViewModel>
@{
    ViewBag.Title = "My Cart";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var a in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@a.Name</h5>
                <img class="card-img-top" src=@a.ImageUrl alt="Product Image">
                <p class="mb-0"><span class="fw-bold">Description: </span>@a.Description</p>
                <p class="mb-0"><span class="fw-bold">Price: </span>@a.Price BGN</p>
                <p class="mb-0"><span class="fw-bold">Quantity: </span>@a.Quantity </p>
               
            </div>

            
                <form class="input-group-sm " asp-controller="Product" asp-action="RemoveFromCart" asp-route-id="@a.Id">
                    <input type="submit" value="Remove from Cart" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold" />
                </form>

            <form class="input-group-sm " asp-controller="Product" asp-action="Buy" asp-route-id="@a.Id">
                <input type="submit" value="Buy" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold" />
            </form>

        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

                