@model AllProductViewModel
@* @model AllProductViewModel

<div class="col-md-4">
    <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
                 src="@Model.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@Model.Name</h5>
            <p class="mb-0">Price: @Model.Price lv.</p>
            <p class="mb-0">@Model.Description</p>

            </div>

        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
        @if (User?.Identity?.Name != Model.Creator)
            {
            <form class="input-group-sm" asp-controller="Product" asp-action="Buy" asp-route-id="@Model.Id">
                    <input type="submit" value="Buy the product" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            }

        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@



<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Product Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h4>Quantity: @Model.Quantity</h4>
            <h6>Description: <b>@Model.Description</b></h6>
            <h6>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <br />
            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
            
        </div>
    </div>
</div>